<ion-content>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 d-flex justify-content-between align-items-center">
                <h2 class="mb-0 mt-0">Student Ledger</h2>
                <button type="button" class="btn btn-outline-info" (click)="backClicked()">
                    Back
                </button>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <form [formGroup]="studentSearch" class="mt-4">
                    <div class="row">
                        <div class="col-6 col-sm-6">
                            <div class="form-group">
                                <label for="sutra">Student ID</label>
                                <input class="form-control" type="taxt" formControlName="id" />
                                <!-- <span *ngIf="submited && dateSearch.get('date').errors?.['required']"
                                    class="help-block error">ID is
                                    required!
                                </span> -->
                            </div>
                        </div>
                        <div class="col-6 col-sm-6">
                            <div class="form-group">
                                <label class="d-inline-block invisible">Points</label>
                                <button type="button" class="btn btn-outline-info custom-btn"
                                    (click)="onDateSearch()">Search</button>
                            </div>
                        </div>
                    </div>
                </form>
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped">
                    <thead class="thead-color">
                        <tr>
                        <tr>
                            <th>Student ID</th>
                            <th>Student Name</th>
                            <th>Point</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of allStudents">
                            <td>{{ data.id }}</td>
                            <td>{{ data.first_name }} {{ data.middle_name }} {{ data.last_name }}</td>
                            <td>{{ data.score }}</td>
                            <td><button type="button" class="btn btn-primary"
                                    (click)="studentDetails(data)">View</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ion-content>