<ion-content [fullscreen]="true">
  <div class="container mt-4">
    <div class="row">
      <div class="col-12 d-flex justify-content-end">
        <button class="btn btn-primary ml-2" [routerLink]="['/Event/Add']">Add Event</button>
      </div>
    </div>
    <div class="row">
       <div class="col-md-12">
         <div class="table-responsive mt-4">
           <table class="table table-bordered" id="editableTable">
             <thead>
               <tr>
                 <th class="text-center">Sr.No</th>
                 <th class="text-center">Event Name</th>
                 <th class="text-center">Date</th>
                 <th class="text-center">Edit</th>
               </tr>
             </thead>
             <tbody>
               <tr class="text-center" *ngFor="let event of allEventsList; let i = index;">
                 <td data-field=" ">{{i+1}}</td>
                 <td data-field=" ">{{event.event_name}}</td>
                 <td data-field=" ">{{moment(event.event_date).format('ll')}}</td>
                 <td class="text-center">
                  <i class=" icons icon-pencil text-primary" (click)="onEdit(event.id)" [class.icon-disabled]="iconDisabled(event.event_date)"></i>
                  <i class=" icons icon-bin text-danger ml-3"></i>
                 </td>
               </tr>
             </tbody>
           </table>
         </div>
       </div>
     </div>
   </div>
</ion-content>