<ion-content>
  <div class="container mt-5">
    <div class="row">
      <div class="offset-lg-2 col-lg-8 col-sm-8 col-8 d-flex justify-content-end">
        <button type="button" class="btn btn-primary back-btn" (click)="backClicked()">
          Back
        </button>
      </div>
    </div>
    <div class="row mt-4">
      <div class="offset-lg-2 col-lg-8 col-sm-8 col-8 border rounded">
        <h3 class="text-center text-inverse">Add Reward</h3>
        <hr>
        <form class="container" [formGroup]="addReward">
          <div class="row">
            <div class="col-lg-6 col-sm-6 col-12">
              <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" formControlName="name" placeholder="Name">
              </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-12">
              <div class="form-group">
                <label>Reward Point</label>
                <input type="text" class="form-control" formControlName="rewardpoint">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12 col-12">
              <div class="form-group">
                <label>Image Url</label>
                <input type="text" class="form-control" formControlName="url">
              </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-12">
              <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" rows="2" formControlName="description"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-sm-6 col-12">
              <div class="form-group">
                <label>Reward StartDate</label>
                <input type="date" class="form-control" formControlName="startdate">
              </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-12">
              <div class="form-group">
                <label>Reward EndDate</label>
                <input type="date" class="form-control" formControlName="anddate">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-sm-6 col-12">
              <div class="form-group">
                <label>Reward AnnouncementDate</label>
                <input type="date" class="form-control" formControlName="announcementdate">
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-lg-12 col-sm-12 col-12 text-center mb-4">
              <button class="btn btn-info" type="button" (click)="saveReward()">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</ion-content>