.thead-color {
  background-color: #4ff3b269;
}
.error{
  color: red;
  font-size: 12px;
  height: 20px;
  margin-top: 1px;
  position: absolute;
}
table{
  margin-top: 20px;
}
.custom-btn{
  width: 76.7px;
  display: inherit;
}