<ion-content [fullscreen]="true">
  <div class="p-3 text-uppercase bg-white text-dark" *ngIf="teacherData.display_name">{{teacherData?.display_name}}</div>
  <div *ngIf="teacherData && teacherData.id" class="custom-id">
    <div class="form-group my-2">
      <div class="fields">
        <input class="active id-input" type="number" placeholder="Student Id" #idInput />
        <label>Student Id</label>
      </div>
    </div>
    <button class=" btn px-4 bg-success text-white  p-1 ml-4" (click)="getUserData(idInput.value)">Go</button>
  </div>
  <!-- <div *ngIf="isScannig && !platform.is('capacitor')"> -->
    <qr-scanner
    #qrScanner
    [debug]="false"
    [canvasHeight]="300"
    [canvasWidth]="300"
    *ngIf="isScannig"
    ></qr-scanner>
  <!-- </div> -->
  <div class="content-container" *ngIf="!isScannig">
    <div class="student-details" *ngIf="!!studentData">
      <div class="profile-image-container">
        <img
          [src]="studentData.profile_image"
          class="img-thumbnail st-image mt-2"
          height="200"
          width="100"
          alt=""
        />
      </div>
      <div id="details" *ngIf="!isEditing">
        <table class="table table-responsive student-table">
          <tr *ngFor="let data of studentsDataArray">
            <td>{{data.title}}</td>
            <td>: {{data.prop ? studentData[data.prop] : this[data.value]}}</td>
          </tr>
        </table>
      </div>
      <div id="details" *ngIf="isEditing">
        <div class="form-group mb-4 mt-4">
          <div class="fields">
            <input 
              type="text" 
              [(ngModel)]="studentData.id" 
              placeholder="id" 
              />
            <label>Id</label>
          </div>
        </div>
        <div class="form-group mb-4 mt-4">
          <div class="fields">
            <input
              type="text"
              #nameInput
              [(ngModel)]="studentData.display_name"
              placeholder="Name"
            />
            <label>Name</label>
          </div>
        </div>
        <div class="form-group mb-4">
          <div class="fields">
            <input type="text" [value]="getAge" #nameInput placeholder="Age" />
            <label>Age</label>
          </div>
        </div>
        <div class="form-group mb-4">
          <div class="fields">
            <input type="text" #nameInput placeholder="Present Days" />
            <label>Present Days</label>
          </div>
        </div>
        <div class="form-group mb-4">
          <div class="fields">
            <input
              type="text"
              [(ngModel)]="studentData.mobile"
              placeholder="Contact No"
            />
            <label>Contact No</label>
          </div>
        </div>
        <div class="form-group mb-4">
          <div class="fields">
            <input type="text" #nameInput placeholder="Points" [value]="studentData.score" />
            <label>Points</label>
          </div>
        </div>
      </div>
    </div>
    <div class="attendence-details" *ngIf="!!studentData">
      <ng-container *ngFor="let at of attendence">
        <div class="at-box mx-1" [ngClass]="{'present': at.is_present, 'absent': !at.is_present}">
          <span class="d-block">{{at.date}} </span>
          <span class="d-block">{{at.month}}</span>
        </div>
      </ng-container>
    </div>
    <div class="d-flex text-dark justify-content-center attendence-fields">
      <ng-container *ngFor="let i of attendenceFields">
        <div> <span [class]="i.class"></span> {{i.label}}</div>
      </ng-container>
    </div>
  
    <div class="progress-details">
      <div class="gatha-details">
        <div class="form-group mb-4 mt-4">
          <div class="fields" *ngIf="userGathaDetails && userGathaDetails?.Sutra?.name; else sutraDropDown">
            <input
              type="text"
              placeholder="Sutra"
              [value]="userGathaDetails.Sutra.name"
            />
            <label>Sutra</label>
          </div>
          <ng-template #sutraDropDown>
            <div class="fields">
              <select class="form-control form-control-lg" [(ngModel)]="selectedSutra" (ngModelChange)="getGathaCount()">
                <option *ngFor="let op of allSutra" [ngValue]="op">{{op.name}}</option>
              </select>
              <label>Sutra</label>
            </div>
          </ng-template>
        </div>
        <div class="form-group mb-4 mt-4" *ngIf="userGathaDetails && userGathaDetails.Sutra else sutraGathaCount">
          <div class="fields">
            <input
              type="text"
              placeholder="Gatha"
              value="{{userGathaDetails.current_gatha_count}} / {{userGathaDetails.Sutra.gatha_count}}"
            />
            <label>Gatha</label>
          </div>
        </div>
        <ng-template #sutraGathaCount>
          <ng-container>
            <div class="form-group mb-4 mt-5">
              <div class="fields">
                <select class="form-control form-control-lg" [(ngModel)]="currentGathaCount">
                  <option *ngFor="let i of (totalGathaCount); let id = index" [ngValue]="i"> {{i}} </option>
                </select>
                <label>Current Gatha</label>
              </div>
            </div>
          </ng-container>
        </ng-template>
        
        <div class="form-group mb-4 mt-4" *ngIf="userGathaDetails">
          <div class="fields">
            <input
              type="text"
              placeholder="Started on"
              value="{{userGathaDetails.createdAt | date:'d MMMM'}}"
            />
            <label>Started on</label>
          </div>
        </div>
      </div>
      <div class="days-till-now" *ngIf="userGathaDetails">
        <div class="dtn-box" [innerHTML]="getCurrentDayOfGatha"></div>
      </div>
      <div class="action-buttons" *ngIf="userGathaDetails">
        <!-- <div> -->
          <ion-button class="continue" *ngIf="userGathaDetails.current_gatha_count < userGathaDetails.Sutra.gatha_count" (click)="getNextGatha()">Continue</ion-button>
          <ion-button class="finish" *ngIf="userGathaDetails.current_gatha_count == userGathaDetails.Sutra.gatha_count" (click)="getNextGatha()">Finish</ion-button>
          <ion-button class="details">Details</ion-button>
        <!-- </div> -->
      </div>
      <div class="action-buttons" *ngIf="!userGathaDetails">
        <ion-button class="continue" [disabled]="!selectedSutra || !sutraGathaCount" (click)="updateUserSutra()">Update Sutra</ion-button>
      </div>
    </div>

    <div class="next-action">
      <ion-button class="new-scan" (click)="newScan()">New Scan</ion-button>
      <ion-button class="back-to-home" (click)="backToHome()">Back To Home</ion-button>
    </div>
  </div>

</ion-content>
