
$linear-present: linear-gradient(
  45deg,
  rgba(64, 120, 255, 0.8099614845938375) 30%,
  rgba(255, 255, 255, 0.5018382352941176) 50%,
  rgba(64, 120, 255, 0.8407738095238095) 70%
);

$linear-absent: linear-gradient(
  45deg,
  rgba(176, 36, 255, 0.6446953781512605) 30%,
  rgba(255, 255, 255, 0.5018382352941176) 50%,
  rgba(176, 36, 255, 0.6587009803921569) 70%
);

$bg-orange: #ff6900;
.bg-darkgrey {
  background: darkgrey;
}

@mixin shadow {
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

ion-menu-button {
  color: var(--ion-color-primary);
}

ion-content {
  margin-top: 1px;
}
.content-container {
  background: #fff;
  height: 100%;
}

input {
  pointer-events: none;
  &.active {
    pointer-events: all;
  }
}
.custom-id {
  display: flex;
  align-items: center;
  background: darkgrey;
  height: 80px;
  .form-group {
    .fields {
      input {
        &:not(:placeholder-shown) + label {
          top: -22px;
          color: white;
        }
      }
      label {
        left: 20px;
      }
    }
  }
  .id-input {
    margin-left: 10px;
    background: white !important;
    border-radius: 10px !important;
    padding-left: 10px !important;
  }
}

.student-details {
  min-height: 100px;
  // background-color: #e8ff69;
  background-color: #b5f3f1;
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  color: #434343;

  .st-image {
    min-height: 180px;
  }
}
.attendence-fields {
  background-color: #d9f5fc;
  div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    span {
      display: block;
      width: 20px;
      height: 20px;
      margin-right: 10px;
      &.present {
        // background: $linear-present;
        @include shadow()
      }
      &.absent {
        // background: $linear-absent;
        @include shadow();
        background-color: $bg-orange;
      }
    }
  }
}
.attendence-details {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  background-color: #d9f5fc;
  color: #434343;
  .at-box {
    height: 50px;
    width: 50px;
    border: 1px solid #434343;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    span {
      line-height: 16px;
    }
  }
}

.progress-details {
  // background-color: #e8ff69;
  background-color: #b5f3f1;
  padding: 10px 20px;
  color: #434343;
  display: flex;
  justify-content: space-between;
  .gatha-details {
  }
  .days-till-now {
    align-self: flex-end;
    margin-bottom: 20px;
    .dtn-box {
      border: 1px solid #434343;
      padding: 5px 8px;
    }
  }
  .action-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    ion-button {
      display: block;
    }
  }
}

.form-group .fields input {
  border: none;
  border-bottom: 1px solid #434343;
  background: none;
  border-radius: 0;
  width: 100%;
  height: 30px;
  color: #030304;
  padding: 0 16px 0 0;
  font-size: 16px;
  font-weight: 400;
  /* transition: box-shadow 150ms ease-out; */
  /* -webkit-transition: box-shadow 150ms ease-out; */
  box-shadow: inset 0 60px 0px transparent;
}

.form-group .fields label {
  position: absolute;
  top: 17px;
  left: 0px;
  background: transparent;
  display: inline-block;
  transition: 0.25s ease-out;
  color: #808080;
  padding: 0 8px 0 2px;
  font-size: 15px;
  line-height: 24px;
  transform: translate3d(0 0 0);
  margin: 0;
  text-transform: uppercase;
}

.form-group .fields select ~ label {
  top: -25px;
}

.form-group .fields input:not(:placeholder-shown) + label {
  top: -15px;
  font-size: 12px;
}

.form-group .fields label {
  top: 0px;
}

// mobile portrait mode
@media only screen and (max-width: 766px) {
  .student-details {
    flex-direction: column;
    align-items: center;
    table {
      tr {
        td {
          border-top: none;
          padding-bottom: 0px;
          padding: 5px;
        }
      }
    }
    .student-table {
      font-size: 1rem;
      // font-weight: bold;
    }
    #details {
      width: 100%;
    }
    .profile-image-container {
      img {
        width: 300px;
        height: 300px;
      }
    }
  }
  .attendence-details {
    justify-content: space-evenly;
    min-height: 130px;
    .at-box {
      width: 8vh;
      height: 8vh;
      font-size: 1rem;
      &.present {
        // background: $linear-present;
        @include shadow();
      }
      &.absent {
       // background: rgb(176, 36, 255);
       // background: $linear-absent;
       background-color: $bg-orange;
       @include shadow();
      }
      &.holiday {
      }

      span {
        line-height: 24px;
      }
    }
  }
  .progress-details {
    flex-direction: column;
    align-items: center;
    .gatha-details {
      width: 100%;
    }
    .days-till-now {
      width: 30%;
      align-self: baseline;
      .dtn-box {
        width: 100px;
      }
    }
    .action-buttons {
      justify-content: space-evenly;
      flex-direction: row;
      ion-button {
        min-width: 150px;
        &.continue {
          --background: #00ff00;
          color: #434343;
        }
        &.finish {
          --background: #ff6900;
        }
        &.details {
          --background: #162f49;
        }
      }
    }
  }
  .next-action {
    height: 100px;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: white;
    ion-button {
      height: 60px;
      margin: 0 15px;
      min-width: 150px;
      font-size: 18px;
      &.new-scan {
        --background: #00ff00;
        color: #434343;
      }
      &.back-to-home {
        --background: #162f49;
      }
    }
  }
  ion-item::part(native) {
    background-color: white;
    color: #434343;
  }
  ion-item::part(native).item-inner {
    --border-color: white;
    border-color: transparent;
    border: none;
  }
}

// tablet
@media only screen and (min-width: 766px) {
  .student-details {
    // flex-direction: column;
    // align-items: center;
    table {
      tr {
        td {
          border-top: none;
          padding-bottom: 0px;
        }
      }
    }
    .student-table {
      font-size: 24px;
      font-weight: bold;
    }
    #details {
      width: 100%;
    }
    .profile-image-container {
      width: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 300px;
        height: 300px;
      }
    }
  }
  .attendence-details {
    justify-content: space-evenly;
    min-height: 130px;
    .at-box {
      width: 8vh;
      height: 8vh;
      font-size: 1rem;
      &.present {
        // background: $linear-present;
        @include shadow();
      }
      &.absent {
       // background: rgb(176, 36, 255);
       // background: $linear-absent;
       background-color: $bg-orange;
       @include shadow();
      }
      &.holiday {
      }

      span {
        line-height: 24px;
      }
    }
  }
  .progress-details {
    .gatha-details {
      width: 40%;
    }
    .days-till-now {
      width: 30%;
      .dtn-box {
        width: 100px;
      }
    }
    .action-buttons {
      justify-content: space-evenly;
      ion-button {
        min-width: 150px;
        &.continue {
          --background: #00ff00;
          color: #434343;
        }
        &.finish {
          --background: #ff6900;
        }
        &.details {
          --background: #162f49;
        }
      }
    }
  }
  .next-action {
    height: 100px;
    justify-content: center;
    display: flex;
    align-items: center;
    ion-button {
      height: 60px;
      margin: 0 15px;
      min-width: 150px;
      font-size: 18px;
      &.new-scan {
        --background: #00ff00;
        color: #434343;
      }
      &.back-to-home {
        --background: #162f49;
      }
    }
  }
  ion-item::part(native) {
    background-color: white;
    color: #434343;
  }
  ion-item::part(native).item-inner {
    --border-color: white;
    border-color: transparent;
    border: none;
  }
}

// mobile landscape mode
@media screen and (orientation: landscape) and (min-width: 350px) and (max-width: 1024px) {
  .student-details {
    flex-direction: row;

    #details {
      width: 60%;
    }
    .profile-image-container {
      img {
        width: 300px;
        height: 300px;
      }
    }
  }
  .attendence-details {
    .at-box {
      width: 20vh;
      height: 20vh;
    }
  }
  .progress-details {
    flex-direction: row;
    .gatha-details {
      width: 40%;
    }
    .days-till-now {
      width: 30%;
      align-self: flex-end;
      .dtn-box {
        width: 100px;
      }
    }
    .action-buttons {
      flex-direction: column;
    }
  }
}

::ng-deep .modal-fullscreen {
  .modal-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
  }
}