<ion-content>
  <div class="container mt-3">
    <div class="row">
      <div class="col-12 d-flex justify-content-end">
        <div class="form-group">
          <button type="button" class="btn btn-primary btn-lg" (click)="backClicked()">
            Back
          </button>
        </div>
      </div>
    </div>
    <form [formGroup]="bonusSearch">
      <div class="row">
        <div class="col-md-3 mb-3">
          <label>ID No</label>
          <input type="text" class="form-control" formControlName="id" />
          <span *ngIf="submited && bonusSearch.get('id').errors?.['required']" class="help-block error">Id is required!
          </span>
          <span *ngIf="bonusSearch.get('id').errors?.['pattern']" class="help-block error">Enter only number!
          </span>
        </div>
        <div class="col-md-3 mb-3">
          <label>Student Name</label>
          <input type="text" class="form-control" formControlName="name" (input)="filteredList($event.target.value)" />
          <span *ngIf="submited && bonusSearch.get('name').errors?.['required']" class="help-block error">Name is
            required!
          </span>
          <span *ngIf="bonusSearch.get('name').errors?.['pattern']" class="help-block error">Enter only characters!
          </span>
        </div>
        <div class="col-md-3 mb-3">
          <label>Points</label>
          <input type="taxt" class="form-control" formControlName="point" />
          <span *ngIf="submited && bonusSearch.get('point').errors?.['required']" class="help-block error">Point is
            required!
          </span>
          <span *ngIf="bonusSearch.get('point').errors?.['pattern']" class="help-block error">Enter only number!
          </span>
        </div>
        <div class="col-md-3">
          <label class="d-inline-block invisible">Points</label>
          <button type="button" class="btn btn-outline-info custom-btn" (click)="onBonusSearch()">Search</button>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-12 table-responsive table-scroll">
        <table class="table table-bordered table-hover">
          <thead class="thead-color">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Time</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of filteredData">
              <th scope="row">{{ data.index }}</th>
              <td>{{ data.name }}</td>
              <td>{{ data.time }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ion-content>