.thead-color {
  background-color: #4ff3b269;
}

.error {
  color: red;
  font-size: 12px;
  height: 20px;
  margin-top: 1px;
  position: absolute;
}


::ng-deep .dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #333;
  border: 1px solid #b7fadf;
  background: linear-gradient(to bottom, white 0%, #b7fadf 100%);
}

::ng-deep .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: rgb(0, 0, 0);
  border: 1px solid #57e5ac;
  background: linear-gradient(to bottom, #c1f1dd 0%, #68dfaf 100%)
}

::ng-deep .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: rgb(0, 0, 0);
  border: 1px solid #57e5ac;
  background: linear-gradient(to bottom, #c1f1dd 0%, #68dfaf 100%)
}

::ng-deep .dataTables_wrapper .dataTables_paginate .paginate_button:active {
  outline: none;
  box-shadow: inset 0 0 3px #78f7c4;
}

.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #adb5bd;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #007bff;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.on {
  display: none;
}

.on {
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 40%;
  font-size: 12px;
  font-family: Verdana, sans-serif;
}

.off {
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 65%;
  font-size: 12px;
  font-family: Verdana, sans-serif;
}

input:checked+.slider .on {
  display: block;
}

input:checked+.slider .off {
  display: none;
}

/*--------- END --------*/

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}