<ion-content>
  <div class="container mt-3">
    <div class="row">
      <div class="col-12 d-flex justify-content-between align-items-center">
        <h2 class="mb-0 mt-0">Point Redemption</h2>
        <button type="button" class="btn btn-outline-info" (click)="backClicked()">
          Back
        </button>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <div class="col d-flex justify-content-end mb-4">
          <button type="button" class="btn btn-primary" routerLink="add-reward">
            New Reward
          </button>
        </div>
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table thead-color">
          <thead>
            <tr>
              <th>Name</th>
              <th>Require Point</th>
              <th>Reward StartDate</th>
              <th>Reward EndDate</th>
              <th>Reward AnnouncementDate</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of allReward; let i = index;">
              <td>{{ data.name }}</td>
              <td>{{ data.required_point }}</td>
              <td>{{ data.start_date }}</td>
              <td>{{ data.end_date }}</td>
              <td>{{ data.announcement_date }}</td>
              <td>
                <button type="button" class="btn btn-primary mr-2" (click)="onEditReward(i)">Edit</button>
                <button type="button" class="btn btn-primary" (click)="onDeleteReward(i)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ion-content>