<ion-content>
  <div class="container">
    <div class="row mt-4">
      <div class="col-12 d-flex justify-content-between align-items-center">
        <h2 class="mb-0 mt-0"> Point Redemption</h2>
        <button type="button" class="btn btn-outline-info" (click)="backClicked()">
          Back
        </button>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-4 mb-3" *ngFor="let data of studentObj">
        <div class="card h-100">
          <a href="#">
            <img [src]=" data.Reward.item_image_url" (error)="imageLoadError($event)" class="card-img-top" height="300"
              alt="" />
          </a>
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div>
                <p class="h4 text-primary">{{data.Reward.name}} </p>
              </div>
            </div>
            <div>
              <label><strong>Required Point: </strong>{{data.Reward.required_point}}</label>
            </div>
            <div class="mt-2">
              <label> <strong> {{data.Student.display_name}}</strong> Current available
                point is<strong> {{data.Student.score}}</strong></label>
            </div>

            <div class="d-flex justify-content-between">
              <div class="col px-0 mt-2">
                <button class="btn btn-outline-primary btn-block"
                  (click)="onRedeem(data.id,data.Student.id, data.Reward.required_point)"
                  [disabled]="data.isRedeem === 1" [ngStyle]="{'opacity': data.isRedeem === 1 ? '0.3':''}">
                  Redeem
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>