<ion-content>
  <div class="d-flex justify-content-between align-items-center p-3 pr-4">
    <h3 class="text-capitalize">{{selectedReport}} Report</h3>
    <ion-button (click)="closeModal()" fill="clear" class="close-btn">
      Close
    </ion-button>
  </div>

  <ng-container *ngIf="!selectedReport">
    <ion-item>
      <ion-label>Year</ion-label>
      <ion-select [(ngModel)]="selectedYear" placeholder="Select Year">
        <ion-select-option *ngFor="let y of YEARS" [value]="y">{{y}}</ion-select-option>
      </ion-select>
    </ion-item>
    <div>
      <ion-button class="action-btn" (click)="selectedReport = SUMMARY_REPORTS.ATTENDANCE"> Attendance </ion-button>
      <ion-button class="action-btn" (click)="selectedReport = SUMMARY_REPORTS.SUTRA"> Sutra </ion-button>
      <ion-button class="action-btn" (click)="selectedReport = SUMMARY_REPORTS.SUMMARY"> Summary </ion-button>
      <ion-button class="action-btn" (click)="selectedReport = SUMMARY_REPORTS.REWARD"> Rewards </ion-button>
    </div>
  </ng-container>

  <ng-container *ngIf="selectedReport">
    <div class="d-flex justify-content-end align-items-center py-2 bg-light">
      <ion-button (click)="selectedReport = null" class="pr-4">
        Back to Summary
      </ion-button>
    </div>
    <ng-container>
      <app-attendance-details *ngIf="selectedReport == SUMMARY_REPORTS.ATTENDANCE" [studentId]="studentId"
        [selectedYear]="selectedYear"></app-attendance-details>
      <app-sutra-details *ngIf="selectedReport == SUMMARY_REPORTS.SUTRA" [studentId]="studentId"
        [selectedYear]="selectedYear"></app-sutra-details>
      <app-summary-details *ngIf="selectedReport == SUMMARY_REPORTS.SUMMARY" [studentId]="studentId"
        [selectedYear]="selectedYear"></app-summary-details>
      <app-reward-details *ngIf="selectedReport == SUMMARY_REPORTS.REWARD" [studentId]="studentId"
        [studentPoint]="studentPoint">
      </app-reward-details>
    </ng-container>
  </ng-container>
</ion-content>