ion-content {
    --background: white;
    --color: #434343;

    ion-button {
        &.close-btn {
            font-size: 24px;
            font-weight: bold;
        }
        &.action-btn {
            height: 20vh;
            width: 20vh;
            font-size: initial;
            margin: 15px;
        }
    }
}