:host {
    justify-content: start;
    button {
        font-size: 24px;
    }
    ion-content {
        --ion-background-color: white;
        --color: #434343;
        input:not([type="radio"]) {
            min-width: 400px;
        }
        select {
            min-width: 400px;
            height: 64px;
            &.ng-touched {
                &.ng-invalid {
                    border:1px solid red;
                }
            }
        }
    }
}

.form-group .fields select:not(:placeholder-shown) ~ label {
    top: -15px;
  }
  .form-group .fields select ~ label {
    top: 0px;
  }
  ion-select {
    //   background-color: lightgreen;
    border: none;
    &::part(icon) {
        opacity: 0;
    }
  }
  ion-item {
    --border-style: hidden;
      ion-label {
        font-size: 24px;
      }
  }
  ion-item::part(native) {
    background-color: white;
    color: #434343;
    border: 1px solid lightgray;
    border-radius: 5px;
  }
  ion-item::part(native).item-inner {
    --border-color: white;
    border-color: transparent;
    border: none;
  }
