.thead-color {
  background-color: #4ff3b269;
}

.error {
  color: red;
  font-size: 12px;
  height: 20px;
  margin-top: 1px;
  position: absolute;
}
table{
  margin-top: 20px;
}

.header-fixed {
  width: 100% 
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
  display: block;
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

.header-fixed > .primary-body {
  overflow-y: auto;
  height: 55vh;
}

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
  width: 25%;
  float: left;
}