<ion-content [fullscreen]="true" scrollY="auto">
  <div class="bg-light">
    <div class="d-flex justify-content-start p-4">
      <button class="btn btn-primary px-4" (click)="navigate('/')">
        Back To Main Menu
      </button>
    </div>
  </div>
  <div class="button-container">
    <div class="button-image-container" (click)="navigate('/studentMaster')">
      <img src="assets/images/studentMaster.jpeg" />
      <ion-button>
        Student Master
      </ion-button>
    </div>
    <div class="button-image-container" (click)="navigate('/sutraMaster')">
      <img src="assets/images/sutraMaster.jpeg">
      <ion-button> Sutra Master </ion-button>
    </div>
    <div class="button-image-container" (click)="navigate('/EventList')">
      <img src="assets/images/events.jpeg">
      <ion-button> Events </ion-button>
    </div>
  </div>
</ion-content>

<router-outlet>
</router-outlet>