.available-point {
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #3880ff;
}

.massage {
    color: green;
}

.massage-denger {
    color: red;
}

.des {
    white-space: pre-line;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-img-top {
    object-fit: contain;
}