<ion-content>
  <div class="container">
    <div class="row">
      <div class="col-12 available-point">
        <p>Your available point: {{ studentPoint }} </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-3" *ngFor="let data of allRewards">
        <div class="card h-100">
          <a href="#"><img src="{{data.item_image_url ? data.item_image_url : 'https://picsum.photos/id/1005/200/300'}}"
              class="card-img-top" style="height: 300px;" alt="Product"></a>
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div>
                <p class="h4 text-primary">Required Point: {{data.required_point}}</p>
              </div>
            </div>
            <strong><label>{{ data.name }}</label></strong>
            <p>{{ data.description }}</p>
            <div class="d-flex mb-3 justify-content-between">
              <div>
                <p class="small"><b>StartDate: </b> {{ moment(data.start_date).format('ll') }}</p>
              </div>
              <div class="text-right">
                <p class="small"><b>EndtDate: </b> {{ moment(data.end_date).format('ll') }}</p>
              </div>
            </div>
            <strong>
              <span class="massage-denger" *ngIf="rewardId === data.id; else loggedOut">You have already booked.</span>
              <ng-template #loggedOut>
                <span class="massage-denger" *ngIf="studentPoint < data.required_point">Opps!, You missed by
                  {{data.required_point -
                  studentPoint}} points.</span>
                <span class="massage" *ngIf="studentPoint > data.required_point">You are eligible for this reward</span>
              </ng-template>
            </strong>
            <div class="d-flex justify-content-between">
              <div class="col px-0 mt-2">
                <button class="btn btn-outline-primary btn-block"
                  [disabled]="studentPoint < data.required_point ? true : false" [disabled]="rewardId"
                  [ngStyle]="{'opacity': rewardId ? '0.3':''}"
                  [ngStyle]="{'opacity': studentPoint < data.required_point ? '0.3':''}"
                  (click)="bookReward(data.id,data.required_point,data.name)">
                  Book Reward
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>