<ion-content>

  <div class="container">
    <div class="row">
      <div class="col-12 point">
        <p>Available Point: {{ studentPoint }} </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-3" *ngFor="let data of allRewards">
        <div class="card h-100">
          <a href="#"><img src="https://picsum.photos/700/550" class="card-img-top" alt="Product"></a>
          <div class="card-body px-2 pb-2 pt-1">
            <div class="d-flex justify-content-between">
              <div>
                <p class="h4 text-primary">Required Point: {{data.required_point}}</p>
              </div>
            </div>
            <strong><label>{{ data.name }}</label></strong>
            <p>{{ data.description }}</p>
            <div class="d-flex mb-3 justify-content-between">
              <div>
                <p class="small"><b>StartDate: </b> {{ moment(data.start_date).format('ll') }}</p>
              </div>
              <div class="text-right">
                <p class="small"><b>EndtDate: </b> {{ moment(data.end_date).format('ll') }}</p>
              </div>
            </div>
            <strong><label>Massages</label></strong>
            <div class="d-flex justify-content-between">
              <div class="col px-0">
                <button class="btn btn-outline-primary btn-block"
                  (click)="bookReward(data.id,data.required_point,data.name)">
                  Book Reward
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>